<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{{ url_for('static',
        filename='base.css') }}"/>
        <script language="javascript" type="text/javascript" 
                src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script language="javascript" type="text/javascript" 
                src="{{ url_for('static', filename='jquery.flot.js') }}"></script>

        <title>mmash for {{ mmstats_dir }}</title>
    </head>
    <body>
      
        <ul>
        {% for stat in string_stats %}
            <li>
                {{ stat.label }} : {{ stat.value }}
            </li>
        {% else %}
            <p class="error">No string stats found</p>
        {% endfor %}
        </ul>
        <div>
          <p>Time between updates: <input id="sample_rate" type="text" value="" 
                                  style="text-align: right; width:5em"> milliseconds</p>
          <p>Samples to show: <input id="max_points" type="text" value="" 
                                  style="text-align: right; width:5em"></p>
        </div>

        {% for stat in numeric_stats %} 
        <div>
          <p><label for="box_{{ stat.label }}">{{ stat.label }}: </label>
            <input id="box_{{ stat.jsid }}" value="{{ stat.value }}" type="text"
                   style="width: 5em; text-align: right" disabled />
          
          <input id="toggle_plot_{{ stat.jsid }}" type="submit" 
            onClick="toggle_plot('{{ stat.label }}')" value="Toggle plotting" />   
          <input id="toggle_update_{{ stat.jsid }}" type="submit" 
            onClick="toggle_update('{{ stat.label }}')" value="Toggle updating" />  
          </p>
          <div id="plot_{{ stat.jsid }}" class="hidden" 
               style="width:600px;height:300px;"></div>
        </div>
        {% endfor %}        
        
        <!-- Javascript goes here -->

        <script type="text/javascript">
          // setup control widget
        var sample_rate = 2000;
        var max_points = 100;
        var plots = [];
        var updates = [];
        
        $("#max_points").val(max_points).change(function () {
            var v = $(this).val();
            if (v && !isNaN(+v)) {
                max_points = +v;
                if (max_points < 10)
                    max_points = 10;
                if (max_points > 1000)
                    max_points = 1000;
                $(this).val("" + max_points);
            }
        });

        $("#sample_rate").val(sample_rate).change(function () {
            var v = $(this).val();
            if (v && !isNaN(+v)) {
                sample_rate = +v;
                if (sample_rate < 50)
                    sample_rate = 50;
                if (sample_rate > 10000)
                    sample_rate = 10000;
                $(this).val("" + sample_rate);
            }
        });

function toggle_update(label) {
  var _div = $("#plot_" + label.replace('.', '_'));
  
  var idx = updates.indexOf(label);
  if(idx != -1) {  
    //There is probably a better way to do 'del updates[idx]'
    updates = updates.slice(0, idx).concat(updates.slice(idx+1));
    return;   
  } else {
    updates.push(label);  
  }
  function update() {
    $.get('/stats/' + label, function(new_data) {
      if(updates.indexOf(label) == -1) {
        return;      
      }    
    var value = JSON.parse(new_data)[label][0];    
    $("#box_" + label.replace('.', '-')).val(value);
    setTimeout(update, sample_rate);
    });
  }
  update();
}

function toggle_plot(label) {

  var plot_div = $("#plot_" + label.replace('.', '_'));
  plot_div.toggleClass("hidden");
  var idx = plots.indexOf(label);
  if(idx != -1) {  
    plots = plots.slice(0, idx).concat(plots.slice(idx+1));
    return;   
  } else {
    plots.push(label);  
  }
  var data = [];

  // setup plot
  var options = {
    series: { shadowSize: 0 }, // drawing is faster without shadows
 //   yaxis: { min: ymin, max: ymax},
    //xaxis: { show: false }
  };
  var plot = $.plot(plot_div,[], options);

  function fetch() {

    $.get('/stats/' + label, function(new_data) {
      if(plots.indexOf(label) == -1) {
        return;      
      }    
      
      data.push(JSON.parse(new_data)[label][0]);
      var redraw = false;
      if(data.length > max_points) {
            data = data.slice(-max_points);
            redraw = false;
      } else {
        redraw = true;
      }
      
      var low = data[0];
      var high = data[0];
      var res = [];
      for (var i = 0; i < data.length; ++i) {
        res.push([i, data[i]]);
        low = Math.min(low, data[i]);
        high = Math.max(high, data[i]);
      }     

      var yaxes = plot.getYAxes();
      for(var axis = 0; axis < yaxes.length; axis++) {
        if(yaxes[axis].min > low) {
          redraw = true;
          break;        
        }
        else if(Math.abs(yaxes[axis].min-low)/yaxes[axis].min > .1) {
          redraw = true;      
          break;
        }      
        if(yaxes[axis].max < high) {
          redraw = true;
          break;        
        } else if(Math.abs(yaxes[axis].max-high)/yaxes[axis].max > .1) {
          redraw = true;      
          break;
        }                    
      }
      
      plot.setData([res]);
      if(redraw) {
        plot.setupGrid();
      }
      plot.draw();
      
      setTimeout(fetch, sample_rate);
    });
  }
  fetch();
}

        </script>





    </body>
</html>
